asgiref==3.9.2
certifi==2025.8.3
charset-normalizer==3.4.3
class-registry==2.1.2
Django==5.2.7
djangorestframework==3.16.1
idna==3.10
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
regex==2025.9.18
requests==2.32.5
six==1.17.0
sqlparse==0.5.3
urllib3==2.5.0
